.footer-container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    border-top: 2px solid #eee;
    padding-bottom: 40px;
}

.footer-section-left,
.footer-section-center,
.footer-section-right {
    flex: 1;
    min-width: 250px;
}

.footer-section-left {
   text-align: left;
   margin-left: 30px;
}

.footer-section-center {
    text-align: center;
}

.footer-section-right {
    text-align: right;
    margin-right: 30px;
}

.footer-container p {
    color: #777;
    font: 13px/22px 'Open Sans', arial, sans-serif;
    font-weight: 400;
}

.footer-container h2 {
    font-size: 22px;
    padding: .8em 0 .2em 0;
    line-height: 1.2;
    letter-spacing: -1px;
    padding-bottom: 10px;
    margin: 0;
    font-weight:bold;
    color: #0646A3;
}

.footer-container a {
    font-size: 22px;
    padding: .8em 0 .2em 0;
    line-height: 1.2;
    letter-spacing: -1px;
    padding-bottom: 10px;
    margin: 0;
    font-weight: normal;
    color: #0646A3;
    text-decoration: none;
}

.footer-icons {
    display: flex;
    justify-content:center;
    gap:15px;
}

.footer-icons img {
    width: 28px;
    height: 30px;
}