/* Global styles */

body {
    font-family: var(--font-family);
    background-color: var(--primary-background-color);
    color: var(--text-color);
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    font-family: var(--font-family);
    margin-bottom: 0.625rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1.125rem;
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}