.pickUp-main h2 {
    text-align: center;
    font-size: 22px;
    padding: .8em 0 .2em 0;
    line-height: 1.2;
    font-weight: normal;
    letter-spacing: -1px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 60px;
}

.pickUp-main img{
    display:block;
    margin-left: auto;
    margin-right: auto;
  
}

.pickUp-main img{
    margin-top: 50px;
    margin-bottom: 50px;
}

.pickUp-divider hr {
    background: #ddd;
    border-color: #ddd;
    background-color: #ddd;
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.pickUp-text {
    color: #777;
    font: 13px/22px 'Open Sans',arial,sans-serif;
    font-weight: 400;
}